[Unit]
Description=i3 Autoname Workspaces Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/walid/.local/bin/autoname-workspaces
Restart=always
RestartSec=2
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
