# timewarrior config
# Edit: $EDITOR ~/.timewarrior/timewarrior.cfg
# Docs: https://timewarrior.net/docs/

# Theme
import /usr/share/doc/timewarrior/doc/themes/dark.theme

# Reports
reports.range=week

# Hook: auto-track taskwarrior tasks (install separately)
# ln -s /usr/share/doc/timewarrior/doc/ext/on-modify.timewarrior ~/.task/hooks/on-modify.timewarrior
# chmod +x ~/.task/hooks/on-modify.timewarrior
