export XCURSOR_THEME=Bibata-Modern-Classic
export XCURSOR_SIZE=24
export CHROME_FLAGS="--force-device-scale-factor=1 --enable-smooth-scrolling"
export BROWSER=google-chrome-stable

# Qt Theming & Portal Integration
export QT_QPA_PLATFORMTHEME=qt6ct
export QT_STYLE_OVERRIDE=kvantum

# Apply keyboard rate (250 50) and mouse settings on display manager login
~/.local/bin/apply-input-settings.sh &
export PATH="$HOME/.local/bin:$PATH"
